<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/cars_sales_db</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">postgres</property>
    <property name="hibernate.connection.pool_size">5</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <mapping class="ru.samkad.carsalesproject.entity.Body"/>
    <mapping class="ru.samkad.carsalesproject.entity.Brand"/>
    <mapping class="ru.samkad.carsalesproject.entity.CarModel"/>
    <mapping class="ru.samkad.carsalesproject.entity.Category"/>
    <mapping class="ru.samkad.carsalesproject.entity.Color"/>
    <mapping class="ru.samkad.carsalesproject.entity.Engine"/>
    <mapping class="ru.samkad.carsalesproject.entity.EngineSize"/>
    <mapping class="ru.samkad.carsalesproject.entity.FuelType"/>
    <mapping class="ru.samkad.carsalesproject.entity.Transmission"/>
    <mapping class="ru.samkad.carsalesproject.entity.Image"/>
    <mapping class="ru.samkad.carsalesproject.entity.Car"/>
    <mapping class="ru.samkad.carsalesproject.entity.PriceHistory"/>
    <mapping class="ru.samkad.carsalesproject.entity.Post"/>
    <mapping class="ru.samkad.carsalesproject.entity.User"/>
  </session-factory>
</hibernate-configuration>